<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="icon" type="image/x-icon" href="images/oss117.png" />
  <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css" media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container-fluid logo">
    <div class="row logo">
      <div class="col-12 orange logo">
        <img src="images/titre.jpg" class="col-lg-2 offset-lg-5 offset-3 col-6" alt="logo" id="logo">
      </div>
    </div>
  </div>

  <div class="container col-12">

    <div class="offset-sm-3 offset-lg-4 col-lg-4 div_signup">
      <h4 class="offset-3 col-6 col-lg-3 offset-lg-4">S'inscrire</h4>

      <form action="/signup" method="POST" class="signup">
        <div class="form-group row">
          <div class="col-10 offset-lg-1 offset-1">
            <input type="text" class="form-control" name="name" placeholder="votre nom">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-10 offset-lg-1 offset-1">
            <input type="email" class="form-control" name="email" placeholder="votre email">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-10 offset-lg-1 offset-1">
            <input type="password" class="form-control" name="password" placeholder="votre password">
          </div>
        </div>
        <button id="loginbtn" type="submit" class="offset-3 col-6 col-lg-3 offset-lg-4 btn btn-warning mb-2 orange">Inscription</button>
      </form>


      <h4 class="offset-3 col-6 col-lg-3 offset-lg-4">Se loguer</h4>

      <form action="/login" method="POST">
        <div class="form-group row">
          <div class="col-10 offset-lg-1 offset-1">
            <input type="email" class="form-control" name="email" placeholder="votre email">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-10 offset-lg-1 offset-1">
            <input type="password" class="form-control" name="password" placeholder="votre password">
          </div>
        </div>
        <button id="loginbtn" type="submit" class="btn offset-3 col-6 col-lg-3 offset-lg-4 btn-warning mb-2 orange">Se loguer</button>
      </form>
    </div>


  </div>

</body>

</html>
